<%- include("../includes/header.ejs", {title:"account - View All"}); %>
<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 1px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: yellowgreen;
            background-color: darkolivegreen;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 250px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 260px;
            border-left: 1px darkgrey;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">


<header><h1>Account</h1></header>
        <nav>
            <ul>
            <a href="/account/add">Add New Account</a>
            </ul>
        </nav>
<article>
    <a href="/account/add">Add New Account</a> &ndash; Creates new account with user input
    <br />
    <br />
        <table border="1">
            <tr><th>email</th><th>first name</th><th>last name</th><th>actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/account/?account_id=<%= result[i].account_id %>"><%= result[i].email %></a></td>
                <td><a href="/account/?account_id=<%= result[i].account_id %>"><%= result[i].first_name %></a></td>
                <td><a href="/account/?account_id=<%= result[i].account_id %>"><%= result[i].last_name %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/account/edit/?account_id=<%= result[i].account_id %>'">Edit</button>
                    <form action="/account/delete/" style="display:inline;">
                        <input type="hidden" name="account_id" id="account_id" value="<%= result[i].account_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
</article>
    <footer>Made possibly by the blood, sweat, and tears of college students</footer>
</div>
</body>
</html>
<%- include("../includes/footer.ejs"); %>