<%- include("../includes/header.ejs", {title:"Account - " + result[0].email}); %>
    <h1>Account</h1>
    <ul>
        <li> Email: <%= result[0].email %></li>
            <ul>
            </ul>
        </li>
    </ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>