<%- include("../includes/header.ejs", {title: "Update " + account.email}); %>
<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 1px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: yellowgreen;
            background-color: darkolivegreen;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 250px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 260px;
            border-left: 1px darkgrey;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">


<header><h1>Update <%=account.email%> <%account.first_name%> <%account.last_name%></h1></header>
<article>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">
    Email: <input id="email" name="email" type="text" value="<%= account.email%>"/>
    <br />
    First Name: <input id="first_name" name="first_name" type="text" value="<%= account.first_name%>"/>
    <br />
    Last Name: <input id="last_name" name="last_name" type="text" value="<%= account.last_name%>"/>
    <br />

    <input type="submit" />

</form>
</article>
    <footer>Made possibly by the blood, sweat, and tears of college students</footer>
</div>
</body>
</html>
<%- include("../includes/footer.ejs"); %>

