<%- include("../includes/header.ejs", {title:"Resume - View All"}); %>
<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 1px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: plum;
            background-color: purple;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 250px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 260px;
            border-left: 1px darkgrey;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">


<header><h1>Resume</h1></header>
    <nav>
        <ul>
        <a href="/resume/SelectUser">Add New Resume</a> <br />
        </ul>
    </nav>
<article>
    <a href="/resume/SelectUser">Select User</a> &ndash; Selects a user for a new resume
    <br />
    <br />
        <table border="1">
            <tr><th>First Name</th><th>Last Name</th><th>Resume Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/account/?account_id=<%= result[i].account_id %>"><%= result[i].first_name %></a></td>
                <td><a href="/account/?account_id=<%= result[i].account_id %>"><%= result[i].last_name %></a></td>
                <td><a href="/resume/?resume_id=<%= result[i].resume_id %>"><%= result[i].resume_name %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/resume/edit/?resume_id=<%= result[i].resume_id %>'">Edit</button>
                    <form action="/resume/delete/" style="display:inline;">
                        <input type="hidden" name="resume_id" id="resume_id" value="<%= result[i].resume_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
</article>
    <footer>Made possibly by the blood, sweat, and tears of college students</footer>
</div>
</body>
</html>
<%- include("../includes/footer.ejs"); %>