<%- include("../includes/header.ejs", {title:"Select User"}); %>
<html>
<head>
<style>
div.container {
width: 100%;
border: 1px darkgrey;
}
header, footer {
padding: 1em;
color: plum;
background-color: purple;
clear: left;
text-align: center;
}
nav {
float: left;
max-width: 250px;
margin: 0;
}
nav ul {
list-style-type: none;
padding: 0;
}
nav ul a {
text-decoration: none;
}
article {
margin-left: 260px;
border-left: 1px darkgrey;
padding: 1em;
overflow: hidden;
}
</style>
</head>
<body>
<div class="container">


    <header><h1>Select User</h1></header>
    <article>
    <form action="/resume/Add" method="get">
        Account
        <br />
        <select id="account_id" name="account_id">
            <% for(var i=0; account.length > i; i++ ) { %>
                <option value="<%= account[i].account_id %>"><%= account[i].first_name + ', ' + account[i].last_name %></option>
            <% } %>
        <select>

        <br />
        <br />
        <input type="submit" />




    </form>
    </article>
    <footer>Made possibly by the blood, sweat, and tears of college students</footer>
    </div>
    </body>
    </html>
<%- include("../includes/footer.ejs"); %>