<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>
<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 1px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: plum;
            background-color: purple;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 250px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 260px;
            border-left: 1px darkgrey;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">


    <header> <h1>Add New Resume</h1></header>
    <article>
    <form action="/resume/insert" method="get">
        Resume Name: <input id="resume_name" name="resume_name" type="text" />
        <br />
        <input type="hidden" id="account_id" name="account_id" value="<%= account %>">
        </select>

        <br />
        <br />
        School:
        <select id="school_id" name="school_id" multiple="multiple">
            <% for(var i=0; school.length > i; i++ ) { %>
            <option value="<%= school[i].school_id %>"><%= school[i].school_name %></option>
            <% } %>
        </select>
        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#school_id').multiselect();
            });
        </script>

        <br />
        <br />
        Company:
        <select id="company_id" name="company_id" multiple="multiple">
            <% for(var i=0; company.length > i; i++ ) { %>
            <option value="<%= company[i].company_id %>"><%= company[i].company_name %></option>
            <% } %>
        </select>
        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#company_id').multiselect();
            });
        </script>

        <br />
        <br />
        Skill:
        <select id="skill_id" name="skill_id" multiple="multiple">
            <% for(var i=0; skill.length > i; i++ ) { %>
            <option value="<%= skill[i].skill_id %>"><%= skill[i].skill_name %></option>
            <% } %>
        </select>
        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#skill_id').multiselect();
            });
        </script>

        <br />
        <br />
        <br />
        <input type="submit" />

    </form>
    </article>
    <footer>Made possibly by the blood, sweat, and tears of college students</footer>
</div>
</body>
</html>
<%- include("../includes/footer.ejs"); %>
