<%- include("../includes/header.ejs", {title: "Update " + resume.resume_name}); %>
<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 1px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: plum;
            background-color: purple;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 250px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 260px;
            border-left: 1px darkgrey;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">


<header><h1>Update <%= resume.resume_name%></h1></header>
    <article>
<form action="/resume/update" method="get">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= resume.resume_id %>">
    Company Name: <input id="resume_name" name="resume_name" type="text" value="<%= resume.resume_name%>"/>
    <br />
    <br />
    Account <br />
    <select id="account_id" name="account_id" multiple="multiple">
        <% for(var i=0; account.length > i; i++ ) {
            var selected = "";

            if(account[i].resume_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= account[i].account_id %>" <%= selected %> ><%= account[i].first_name + ', ' + account[i].last_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#account_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>
    </article>
    <footer>Made possibly by the blood, sweat, and tears of college students</footer>
</div>
</body>
</html>

<%- include("../includes/footer.ejs"); %>
