<%- include("./includes/header.ejs", {title: title}); %>
<html>
<head>
<style>
div.container {
width: 100%;
border: 1px darkgrey;
}
header, footer {
padding: 1em;
color: hotpink;
background-color: maroon;
clear: left;
text-align: center;
}
nav {
float: left;
max-width: 250px;
margin: 0;
}
nav ul {
list-style-type: none;
padding: 0;
}
nav ul a {
text-decoration: none;
}
article {
margin-left: 260px;
border-left: 1px darkgrey;
padding: 1em;
overflow: hidden;
}
</style>
</head>
<body>
<div class="container">

    <header><h1><%= title %></h1></header>
    <br/>
    <nav>
        <ul>
            <a href="/company/all">Companies - View All</a>
            <br/>
            <a href="/account/all">Accounts - View All</a>
            <br />
            <a href="/address/all">Addresses - View All</a>
            <br />
            <a href="/skill/all">Skills - View All</a>
            <br />
            <a href="/resume/all">Resumes - View All</a>
            <br />
        </ul>
    </nav>
    <article>
        <p>Welcome to <%= title %></p>
    </article>
<article>
    You can do most of the same things you can do with
    any other student's project, but now with more data.
</article>
    <article>
        <a href="/company/all">Companies - View All</a>&ndash; Click here use functionality on companies
        <br /><br/>
        <a href="/account/all">Accounts - View All</a>&ndash; Click here use functionality on accounts
        <br /><br/>
        <a href="/address/all">Addresses - View All</a>&ndash; Click here use functionality on addresses
        <br /><br/>
        <a href="/skill/all">Skills - View All</a>&ndash; Click here use functionality on skills
        <br /><br/>
        <a href="/resume/all">Resumes - View All</a>&ndash; Click here use functionality on resumes
        <br /><br/>
    </article>
<br/><br/><br/>
<footer>Made possibly by the blood, sweat, and tears of college students</footer>

</div>
</body>
</html>
<%- include("./includes/footer.ejs"); %>
