<%- include("../includes/header.ejs", {title: "Update " + skill.skill_name}); %>
<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 1px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: wheat;
            background-color: black;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 250px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 260px;
            border-left: 1px darkgrey;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">


<header><h1>Update <%=skill.skill_name%> <%skill.description%> </h1></header>
    <article>
<form action="/skill/update" method="get">
    <input type="hidden" id="skill_id" name="skill_id" value="<%= skill.skill_id %>">
    skill_name: <input id="skill_name" name="skill_name" type="text" value="<%= skill.skill_name%>"/>
    <br />
    description: <input id="description" name="description" type="text" value="<%= skill.description%>"/>
    <br />

    <input type="submit" />

</form>
    </article>
    <footer>Made possibly by the blood, sweat, and tears of college students</footer>
</div>
</body>
</html>

<%- include("../includes/footer.ejs"); %>
