<%- include("../includes/header.ejs", {title:"Skill - View All"}); %>
<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 1px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: wheat;
            background-color: black;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 250px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 260px;
            border-left: 1px darkgrey;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">


<header><h1>Skill</h1></header>
    <nav>
        <ul>
        <a href="/skill/add">Add New Skill</a> <br />
        </ul>
    </nav>
    <article>
        <a href="/skill/add">Add New Skill</a> &ndash; Creates new address with user input
        <br />
        <br />
        <table border="1">
            <tr><th>skill name</th><th>description</th><th>actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/skill/?skill_id=<%= result[i].skill_id %>"><%= result[i].skill_name %></a></td>
                <td><a href="/skill/?skill_id=<%= result[i].skill_id %>"><%= result[i].description %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/skill/edit/?skill_id=<%= result[i].skill_id %>'">Edit</button>
                    <form action="/skill/delete/" style="display:inline;">
                        <input type="hidden" name="skill_id" id="skill_id" value="<%= result[i].skill_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
    </article>
    <footer>Made possibly by the blood, sweat, and tears of college students</footer>
</div>
</body>
</html>
<%- include("../includes/footer.ejs"); %>