<%- include("../includes/header.ejs", {title:"Skill - " + result[0].street}); %>
    <h1>Skill</h1>
    <ul>
        <li> skill_name: <%= result[0].skill_name %></li>
            <ul>
            </ul>
        </li>
    </ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>