<%- include("../includes/header.ejs", {title: "Update " + company.company_name}); %>
<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 1px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: cyan;
            background-color: navy;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 250px;
            margin: 0;
            padding: 1em;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 260px;
            border-left: 1px darkgrey;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">
<header><h1>Update <%= company.company_name%></h1></header>
<article>
    <form action="/company/update" method="get">
    <input type="hidden" id="company_id" name="company_id" value="<%= company.company_id %>">
    Company Name: <input id="company_name" name="company_name" type="text" value="<%= company.company_name%>"/>
    <br />
    <br />
    Address <br />
    <select id="address_id" name="address_id" multiple="multiple">
        <% for(var i=0; address.length > i; i++ ) {
            var selected = "";

            if(address[i].company_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= address[i].address_id %>" <%= selected %> ><%= address[i].street + ', ' + address[i].zip_code %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#address_id').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>
</article>
    <footer>Made possibly by the blood, sweat, and tears of college students</footer>
</div>
</body>
</html>
<%- include("../includes/footer.ejs"); %>