<%- include("../includes/header.ejs", {title:"Address - " + result[0].street}); %>
    <h1>Address</h1>
    <ul>
        <li> street: <%= result[0].street %></li>
            <ul>
            </ul>
        </li>
    </ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>