<%- include("../includes/header.ejs", {title: "Update " + address.street}); %>
<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 1px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: orange;
            background-color: saddlebrown;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 250px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 260px;
            border-left: 1px darkgrey;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">


<header><h1>Update <%=address.street%> <%address.zip_code%> </h1></header>
    <article>
<form action="/address/update" method="get">
    <input type="hidden" id="address_id" name="address_id" value="<%= address.address_id %>">
    Street: <input id="street" name="street" type="text" value="<%= address.street%>"/>
    <br />
    Zip Code: <input id="zip_code" name="zip_code" type="text" value="<%= address.zip_code%>"/>
    <br />

    <input type="submit" />

</form>
    </article>
    <footer>Made possibly by the blood, sweat, and tears of college students</footer>
</div>
</body>
</html>
<%- include("../includes/footer.ejs"); %>

